@font-face {
    font-family: 'koulen-regular';
    src: url('../font/koulen/Koulen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/urbanist/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/urbanist/Urbanist-Medium.ttf') format('truetype');
}

:root {
    --primary-color: 133, 93, 255;
    --dark-color: 33, 33, 33;
    --light-color: 255, 255, 255;

    --koulen-regular: 'koulen-regular', Arial, Helvetica, sans-serif;
    --urbanist-regular: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --urbanist-medium: 'urbanist-medium', Arial, Helvetica, sans-serif;
}

* {
    font-family: var(--urbanist-medium) !important;
    color: rgba(var(--dark-color), 1);
    transition: 250ms !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 150%;
}

p.paragraph {
    font-size: 1rem;
    color: rgba(var(--dark-color), 0.82);
}

p.paragraph-small {
    font-size: 0.938rem;
    color: rgba(var(--dark-color), 0.82);
}

/* COMPONENT STYLE */
.button-default {
    display: inline-block;
    all: unset;
    cursor: pointer;
    padding: 18px 30px;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 9999px;
    font-size: 0.938rem;
    color: rgba(var(--light-color), 1);
}

.button-reverse {
    display: inline-block;
    all: unset;
    cursor: pointer;
    padding: 18px 30px;
    background-color: rgba(var(--dark-color), 1);
    border-radius: 9999px;
    font-size: 0.938rem;
    color: rgba(var(--light-color), 1);
}

.button-reverse-small {
    display: inline-block;
    all: unset;
    cursor: pointer;
    padding: 16px 26px;
    background-color: rgba(var(--dark-color), 1);
    border-radius: 9999px;
    font-size: 0.938rem;
    color: rgba(var(--light-color), 1);
}

.button-defaul:hover,
.button-reverse:hover,
.button-reverse-small:hover {
    opacity: 0.94;
}

.subtitle {
    padding: 9px 15px;
    background-color: rgba(var(--primary-color), 0.12);
    border-radius: 9999px;
    color: rgba(var(--primary-color), 1);
    font-size: 0.813rem;
}

.headline {
    line-height: 102%;
    font-size: 4.375rem;
    font-family: var(--koulen-regular);
}

.title {
    font-size: 2.75rem;
    font-family: var(--koulen-regular);
}

.headline .light,
.title .light {
    color: rgba(var(--primary-color), 1);
}

h5 {
    font-size: 1.125rem;
    color: rgba(var(--dark-color), 1);
}

h6 {
    color: rgba(var(--dark-color), 1);
}
/* END COMPONENT */


/* NAVBAR */
.nav-link {
    font-size: 1rem;
    font-family: var(--urbanist-medium) !important;
}

.nav-link.active,
.nav-link:hover {
    color: rgba(var(--primary-color), 1) !important;
}
/* END NAVBAR */

@media (max-width: 767.98px) {
    .headline {
        font-size: 3.75rem;
    }
    
    .title {
        font-size: 2.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    p.paragraph,
    h6 {
        font-size: 0.938rem;
    }
    
    p.paragraph-small {
        font-size: 0.875rem;
    }   
}